@font-face {
    font-family: 'futura';
    src: url('../font/Futura-Thin.woff2') format('woff2'),
         url('../font/Futura-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'futuralight';
    src: url('../font/futura_light_bt-webfont.woff2') format('woff2'),
         url('../font/futura_light_bt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'futuralight', Helvetica, sans-serif;
    font-size: 15px;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
header {
    width: 100%;
    display: flex;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #209CEE;
    color: aliceblue;
    font-family: 'futura';
    font-weight: bold;
    letter-spacing: 0.3rem;
}

header a {
    display: inline-block;
    padding: 0 10px 5px 10px;
    text-decoration: none;
    color: aliceblue;
    transition: 0.3s;
    
}
header a:hover {
    color: #115380;
}
#intro {
    display: flex;
    height: auto;
    border-bottom: solid 1px #209CEE;
    margin: 10px 15px;
    font-family: 'futuralight';
    font-size: 1.2rem;
}
#intro img {
    margin-right: 10px;
    margin-bottom: 10px;
    border: #209CEE solid;
    border-radius: 100%;
}

main {
    margin: 10px 70px;
    font-size: 1.1rem;
}
 
.parent {
    display: flex;
}

footer {
    border-top: solid 2px #209CEE;
    margin: 35px 15px 15px 15px;
    text-align: center;
    font-size: 1rem;
}
#map {
    overflow: hidden;
    margin-right: 20px;
    border: solid 2px #115380;
} 

form {
    display: inline-block;
    width: 500px;
    height: 370px;
    overflow: hidden;
    
}

span {
    display: block;
    margin-bottom: 15px;
}
form span:nth-of-type(2) {
    position: relative;
    left: 2px;
}
form span:nth-of-type(3) {
    position: relative;
    left: 40px;
}
form span:nth-of-type(4) {
    position: relative;
    left: 10px;
}
form span:nth-of-type(5) {
    position: relative;
    left: 47px;
}
form span:nth-of-type(7) {
    position: relative;
    left: 90px;
}
#text textarea {
    position: relative;
    left: 90px;
    margin-top: 10px;
}

input[type=submit] {
    border: solid 1px #209CEE;
}

@media screen and (max-width: 600px) {
    #intro {
        flex-direction: column;
    }
    #intro img {
        width: 204.8px;
        margin-left: auto;
        margin-right: auto;
    }

    main {
        float:none;
        margin: auto 5%;
    }
}

@media screen and (max-width: 1100px) {
    .parent {
        flex-direction:column; 
    }
    #map {
        min-height: 270px;
    }
    #text textarea {
        left: 8px;
    }
}
@media screen and (max-width:486px) {
    header a:nth-of-type(4) {
        padding-right: 14px;
    }