header {
    border-bottom: solid 1px #9A9A9A;
}

#intro img {
    float: left;
}

#intro {
    border-bottom: solid 1px #9A9A9A;
}
#map {
    overflow: hidden;
    float: left;
    margin-right: 20px;
} 

form {
    display: inline-block;
    width: 500px;
    height: 350px;
    overflow: hidden;
    
}

 form label,input {
    position: relative;
}
span {
    display: block;
    margin-bottom: 15px;
}
form span:nth-of-type(2) {
    position: relative;
    left: 2px;
}
form span:nth-of-type(3) {
    position: relative;
    left: 34px;
}
form span:nth-of-type(4) {
    position: relative;
    left: 11px;
}
form span:nth-of-type(5) {
    position: relative;
    left: 43px;
}
form span:nth-of-type(7) {
    position: relative;
    left: 78px;
}
#text textarea {
    position: relative;
    left: 79px;
}

