@font-face {
    font-family: 'futura';
    src: url('../font/Futura-Thin.woff2') format('woff2'),
         url('../font/Futura-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'futuralight';
    src: url('../font/futura_light_bt-webfont.woff2') format('woff2'),
         url('../font/futura_light_bt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'futuralight', Helvetica, sans-serif;
    font-size: 15px;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
header {
    width: 100%;
    display: flex;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #209CEE;
    color: aliceblue;
    font-family: 'futura';
    font-weight: bold;
    letter-spacing: 0.3rem;
}

header a {
    display: inline-block;
    padding: 0 10px 5px 10px;
    text-decoration: none;
    color: aliceblue;
    transition: 0.3s;
    
}
header a:hover {
    color: #115380;
}
#intro {
    display: flex;
    height: auto;
    border-bottom: solid 2px #209CEE;
    margin: 10px 15px;
    font-family: 'futuralight';
    font-size: 1.2rem;
}
#intro img {
    margin-right: 10px;
    margin-bottom: 10px;
    border: #209CEE solid;
    border-radius: 100%;
}

main {
    margin: 40px 70px;
    font-size: 1.1rem;
}

footer {
    border-top: solid 2px #209CEE;
    margin: 35px 15px 15px 15px;
    text-align: center;
    font-size: 1rem;
}