body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #209CEE;
    color: aliceblue;
}
header a {
    padding: 0 10px 5px 10px;
    text-decoration: none;
    color: aliceblue;
    transition: 0.3s;
}
header a:hover {
    color: #115380;
}
#intro {
    height: 200px;
    border-bottom: solid 2px #209CEE;
    margin: 0 15px;
}
#intro img {
    position: relative;
    float: left;
    margin-right: 10px;
    bottom: 10px;
    border: #209CEE solid;
    border-radius: 100%;
}
main {
    margin: 40px 70px;
}
footer {
    border-top: solid 2px #209CEE;
    margin: 0 15px;
    text-align: center;
    font-size: 0.8rem;
}


